.container {
    display: flex;
  }
  
.col-1 {
    width: 300px;
    background-color: rgb(255, 169, 169);
  }
  
.col-2 {
    flex: 1;
    background-color: rgb(161, 161, 255);
  }


body {
  background-color: black;
}