.container {
    display: flex;
  }
  
.col-1 {
    flex: 1;
    background-color: rgb(252, 138, 138);
  }
  
.col-2 {
    flex: 1;
    background-color: rgb(155, 155, 248);
  }

.col-3 {
    flex: 1;
    background-color: rgb(241, 241, 133);
}

.col-4 {
  flex: 1;
  background-color: rgb(133, 241, 142);
}

body {
    background-color: black;
}