.elemento-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
    background-color: #FFDAB9;
  }
  
  .elemento-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 150px;
    height: 150px;
    background-color: #ADD8E6;
  }
  
  .elemento-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 150px;
    height: 150px;
    background-color: #F0E68C;
  }
  
  .elemento-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 150px;
    background-color: #ffffff;
  }

  .elemento-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: #89f080;
  }

body {
    background-color: black;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
